auto-save-list/
bookmarks
.cache/
eln-cache/
eshell/
games/
.org-id-locations
org-roam.db
projectile.cache
projectile-bookmarks.eld
projectile-known-projects.eld
racket-mode/
straight/
tramp
transient/
url/
